{% extends "auctions/layout.html" %}

{% block body %}
    <div class="body_container">
        <h2>Categories</h2>
        <div class="categories_container">
            {% for category in categories %}
                <a href="#">
                    <div class="category_container">
                        <h5>{{category.name}}</h5>
                        <hr/>
                        <img src={{ category.image_url }} alt={{ category.name }} class="category_image"
                        style="width: 100%;">
                    </div>
                </a>                            
            {% endfor %}
        </div> 
    </div>
{% endblock %}