{% extends "auctions/layout.html" %}

{% block title %}Create new listing{% endblock %}

{% block body %}
    <div class="body_container">
        <h2>Create new Listing</h2>

        <div class="content_container">
            <form action="{% url 'newListing' %}" method="POST">
                {% csrf_token %}
                <div class="create-form-group">
                    <label id="title_label"><b>{{listing.title.label_tag}}</b></label>
                    <br> 
                    {{listing.title}}
                    <br> 
                </div>
                
                <div class="create-form-group">
                    <label id="image_url"><b>{{listing.image_url.label_tag}}</b></label>
                    <br> 
                    {{listing.image_url}}
                    <br>
                </div>
                
                <div class="create-form-group">
                    <label id="description"><b>{{listing.description.label_tag}}</b></label>
                    <br> 
                    {{listing.description}}
                    <br>
                </div>
                 
                <div class="create-form-group">
                    <label id="price"><b>{{listing.price.label_tag}}</b></label>
                    <br> 
                    {{listing.price}}
                    <br>
                </div>
                
                <div class="checkbox-form-group">
                    <label id="category"><b>{{listing.category.label_tag}}</b></label>
                    <div class="category-form-container">
                        {{listing.category}}
                    </div>
                </div>
                  
                <div class="button_container">
                    <input type="submit" class="btn btn-dark create_button" value="Create">
                </div>  
            </form>
        </div>
    </div>
{% endblock %}