{% extends "auctions/layout.html" %}

{% block title %}Create new listing{% endblock %}

{% block body %}
    <div class="body_container">
        <h2>Create new Listing</h2>

        <div class="content_container">
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="create-form-group">
                    <label id="title_label">{{listing.title.label_tag}}</label>
                    <br> 
                    {{listing.title}}
                    <br> 
                </div>
                
                <div class="create-form-group">
                    <label id="image_url">{{listing.image_url.label_tag}}</label>
                    <br> 
                    {{listing.image_url}}
                    <br>
                </div>
                
                <div class="create-form-group">
                    <label id="description">{{listing.description.label_tag}}</label>
                    <br> 
                    {{listing.description}}
                    <br>
                </div>
                 
                <div class="create-form-group">
                    <label id="price">{{listing.price.label_tag}}</label>
                    <br> 
                    {{listing.price}}
                    <br>
                </div>
                
                <div class="create-form-group">
                    <label id="category">{{listing.category.label_tag}}</label>
                    <br> 
                    {{listing.category}}
                    <br>
                </div>
                  
                <div class="button_container">
                    <input type="submit" class="btn btn-dark create_button" value="Create">
                </div>  
            </form>
        </div>
    </div>
{% endblock %}