{% extends "auctions/layout.html" %}

{% block title %}Create new listing{% endblock %}

{% block body %}
    <h2>Create new Listing</h2>

    <div style="background-color: white">
        <form action="#" method="POST">
            {% csrf_token %}
            <label id="title_label">{{listing.title.label_tag}}</label>
            <br> 
            {{listing.title}}
            <br> 
            <label id="image_url">{{listing.image_url.label_tag}}</label>
            <br> 
            {{listing.image_url}}
            <br> 
            <label id="description">{{listing.description.label_tag}}</label>
            <br> 
            {{listing.description}}
            <br> 
            <label id="price">{{listing.price.label_tag}}</label>
            <br> 
            {{listing.price}}
            <br>
            <label id="price">{{listing.category.label_tag}}</label>
            <br> 
            {{listing.category}}
            <br>  
            <input type="submit" class="btn btn-dark" value="Create">
        </form>
    </div>
{% endblock %}