{% extends "auctions/layout.html" %}

{% block body %}
    <div class="body_container">
        {% if not watchlist %}
            <h2>Active Listings</h2>
        {% else %}
            <h2>Watchlist</h2>
        {% endif %}
        <div class="content_container">
            {% if not listings and not watchlist %}
                <h4>
                    No active listings in this category
                </h4>
            {% elif not listings %}
                <h4>
                    No listings on your watchlist.
                </h4>
            {% else %}
                {% for listing in listings %}
                    <a href="{% url 'listing' listing.id %}" style="text-decoration: none;">
                        <div class="Listing_container">
                            <div>
                                {% if listing.closed %}
                                    <h2 class="listing_title" style="color: red;">{{listing.title}} [CLOSED]</h2>
                                {% else %}
                                    <h2 class="listing_title">{{listing.title}}</h2>
                                {% endif %}
                            </div>
                            <hr/>
                            <div class="listing_content_container">
                                <div class="listing_image_container">
                                    {% if not listing.image_url %}
                                        <h3 style="color: red; padding-top: 75px;" class="listing_image"><b>No photo</b></h3>
                                    {% else %}
                                        <img src={{ listing.image_url }} alt={{ listing.title }}
                                        class="listing_image">
                                    {% endif %}
                                </div>
                                <div class="listing_desc_container">
                                    <h3
                                    {% if not listing.actual_price %}
                                        style="color: black"
                                    {% else %}
                                        style="color: red"
                                    {% endif %}>
                                    Price:
                                        {% if not listing.actual_price %}
                                            {{ listing.price }}$
                                        {% else %}
                                            {{ listing.actual_price }}$
                                        {% endif %}
                                    </h3>
                                    <p style="color: black">
                                        {{ listing.description }}
                                    </p>
                                    <p style="color: rgb(119, 119, 119)">
                                        {{ listing.creation_date }}
                                    </p>
                                    <p style="color: rgb(119, 119, 119)">
                                        Seller: <b>{{ listing.creator }}</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>                            
                {% endfor %}
            {% endif %}
        </div> 
    </div>
{% endblock %}