{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <div class="body_container">
        <h2>Listing id {{ listing.id }}</h2>
        <div class="content_container">
            <div class="Listing_">
                <div class="Listing_title_">
                    <h2>{{listing.title}}</h2>
                </div>
                <div class="listing_content_container_2">
                        <div class="icon_container">
                            <a href="{% url 'AddOrDelete' listing.id %}" style="text-decoration: none;">
                                {% if not on_watchlist %}                              
                                    <span class="icon_subtitle"><b>Add to watchlist</b></span>
                                    <img src="{% static "auctions/star_1.svg" %}" alt="follow" class="follow_icon">
                                {% else %}
                                    <span class="icon_subtitle"><b>Delete from watchlist</b></span>
                                    <img src="{% static "auctions/star_2.svg" %}" alt="follow" class="follow_icon">
                                {% endif %}
                             </a>
                        </div>
                    <div class="listing_image_container_2">
                        {% if not listing.image_url %}
                            <h3 style="color: red">No photo</h3>
                        {% else %}
                            <img src={{ listing.image_url }} alt={{ listing.title }}
                            class="listing_image_2">
                        {% endif %} 
                    </div>
                    <div class="container_2">
                        <div class="desc_container_2">
                            <h3>Information:</h3>
                            <h5>
                                {{ listing.description }}
                            </h5>
                            <p style="color: rgb(119, 119, 119); margin-top: 50px">
                                Created {{ listing.creation_date }} by <b>{{ listing.creator }}</b>
                            </p>
                        </div>
                        <div class="bids_container">
                            <h3>Current price:  <b style="color:red">
                                {% if not winning.value %}
                                    {{ listing.price }}$
                                {% else %}
                                    {{ winning.value }}$
                                {% endif %}
                            </b></h3>
                            <h6 style="color: rgb(119, 119, 119)">Starting price: {{ listing.price }}$</h6>
                            <p style="margin-top: 25px"><b>Place your bid:</b></p>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} 
                                style="color: red">{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% if not user.is_authenticated %}
                                <h6 style="color: red">You must be logged in to place your bids</h6>
                            {% elif listing.creator == request.user %}
                                <h6 style="color: red">You cannot bid on an auction you have created.</h6>
                            {% else %}
                                <form action="{% url 'bid' listing.id %}" 
                                style="display: flex; flex-direction: column; justify-content: center; align-items: center;"
                                method="POST">
                                    {% csrf_token %}
                                    {{ bid.bid_value }}
                                    <input type="submit" class="btn btn-dark create_button" value="Bid">
                                </form>
                            {% endif %}

                            <p style="margin-top:40px;">
                                {{ bids.count }} bid(s) so far.
                            </p> 
                            <p>
                                {% if winning.value %}
                                    Currently winning: <b style="color:red">{{ winning.user }}</b> 
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div style="width: 80%; margin-top: 25px; padding-bottom: 50px; border-bottom: 1px solid #e0e0e0;">
                        <div class="categories_container_2">
                            Tags:             
                            {% for category in categories %}
                                <div class="category_tag_container">
                                    <p class="category_tag_content">{{ category }}</p>
                                </div>
                            {% empty %}
                                No categories assigned to this product.              
                            {% endfor %}
                        </div> 
                    </div>
                    <div style="width: 80%; margin-top: 15px">
                        <div class="comments_container">
                            <h3 style="margin-bottom: 25px;">({{ comments.count }}) 
                                {% if comments.count == 1 %}
                                    Comment:
                                {% else %}
                                    Comments:
                                {% endif %}
                            </h3>
                            {% if user.is_authenticated %}
                                <form action="{% url 'comment' listing.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="new_comment">                                
                                        {{ comment.topic }}
                                        {{ comment.content }}
                                        <input type="submit" class="btn btn-dark comment_button" value="New comment">
                                    </div>
                                </form>
                            {% endif %}

                            {% for comment in comments %}
                                <div class="comment_container">
                                    <h5>
                                        <b>{{ comment.topic }}</b>
                                    </h5>
                                    <p>
                                        <i>{{ comment.content }}</i>
                                    </p>
                                    <p style="font-size: 14px; display: flex; justify-content: flex-end; margin: 10px 0px 10px 0px;">
                                        {{ comment.date }} by&nbsp; <b>{{ comment.commentator }}</b>
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
{% endblock %}